<div id="main" class="cf">

	<div class="addButton">
		<button class="addBtn">Add book</button>
	</div>

	<section id="books-list">
		<ul>
			<% @books.each do |book| %>
			<li data-book-id="<%= book.id %>"><strong><%= book.title %></strong> by <%= book.author %></li>
			<% end %>
		</ul>

		<form action="" id="filters">
			<div class="top cf">
				<select name="filter-genre" id="filter-genre">
					<option value="none" disabled selected>Genre</option>
					<% @genres.each do |genre| %>
						<option value="<%= genre.id %>"><%= genre.name %></option>
					<% end %>
				</select>
				<select name="filter-category" id="filter-category">
					<option value="none" disabled selected>Category</option>
					<% @categories.each do |category| %>
						<option value="<%= category.id %>"><%= category.name %></option>
					<% end %>
				</select>
			</div>
			<div class="bottom cf">
				<select name="filter-format" id="filter-format">
					<option value="none" disabled selected>Format</option>
					<% @formats.each do |format| %>
						<option value="<%= format.id %>"><%= format.name %></option>
					<% end %>
				</select>
				<select name="filter-loan" id="filter-loan">
					<option value="none" disabled selected>Loaned?</option>
					<option value="1">Yes</option>
					<option value="0">No</option>
				</select>
			</div>
			<button id="filterBtn">Filter</button>
		</form>
	</section>

	<section id="book-data">
		<div id="book-display">
			<h2></h2>
			<h3></h3>
			<p>
				<strong>Genre:</strong> <span id="genre"></span>
			</p>
			<p>
				<strong>Category:</strong> <span id="category"></span>
			</p>
			<p>
				<strong>Format:</strong> <span id="format"></span>
			</p>
			<p>
				<strong>Loaned to:</strong> <span id="loaned_to"></span>
			</p>
			<p id="displayButtons">
				<button class="editBtn">Edit</button>
				<button class="delBtn">Delete</button>
			</p>
		</div>
		<form id="book-form" action="/books/add" method="post">
			<p>
				<label for="title"><strong>Title:</strong></label>
				<input type="text" name="title" id="form-title">
			</p>
			<p>
				<label for="author"><strong>Author:</strong></label>
				<input type="text" name="author" id="form-author">
			</p>
			<p>
				<label for="form-genre"><strong>Genre:</strong></label>
				<select name="form-genre" id="form-genre">
					<option value="none" disabled>Choose a genre</option>
					<% @genres.each do |genre| %>
						<option><%= genre.name %></option>
					<% end %>
				</select>
			</p>
			<p>
				<label for="form-category"><strong>Category:</strong></label>
				<select name="form-category" id="form-category">
					<option value="none" disabled>Choose a category</option>
					<% @categories.each do |category| %>
						<option><%= category.name %></option>
					<% end %>
				</select>
			</p>
			<p>
				<label for="form-format"><strong>Format:</strong></label>
				<select name="form-format" id="form-format">
					<option value="none" disabled>Choose a format</option>
					<% @formats.each do |format| %>
						<option><%= format.name %></option>
					<% end %>
				</select>
			</p>
			<p>
				<label for="loaned_to"><strong>Loaned to:</strong></label>
				<input type="text" name="loaned_to" id="form-loaned_to">
			</p>
			<button class="saveBtn">Save</button>
		</form>
	</section>
</div>
